  <p> There are <%= @response.total%> <%= "#{@title}"%> in your search area </p>

  <% @response.businesses.take(5).each do |business| %>
    <%= business.name %>
    <br>
    <p> <%= business.rating %> out of <%= business.review_count %> reviews </p>
    <br>
    <%= link_to business.url %>
    <br>
    <%= business.snippet_text %>
    <br>
    <%= image_tag business.image_url %>
    <br>
    <% unless %>
      <%= business.display_phone == "" %>
      <p> There is no phone number available for this listing </p>
    <% else %>
      <%= business.display_phone %>
    <%end%>
    <br>
    <% business.location.display_address.each do |a| %>
      <%= a[0..-1] %>
      <br>
    <% end %>

  <% end %>
