
  <div class= "container">
  <h3> There are <%= @response.total%> <%= "#{@title}"%> in your search area </h3>
  <br>

  <% @response.businesses.take(5).each do |business| %>

    <h4> <%= business.name %> </h4>

    <% if %>
      <% business.has_key? 'image_url' %>
      <%= image_tag business.image_url %>
    <% else %>
      <p> There isn't an availabe picture for this business. </p>
    <% end %>

    <p> <%= business.rating %> out of <%= business.review_count %> reviews </p>
    <%= link_to business.url, (business.url) %>


    <p> <%= business.snippet_text %></p>
    <% if %>
      <% business.display_phone == "" %>
      <p> There is no phone number available for this listing </p>
    <% else %>
      <%= business.display_phone %>
    <%end%>
    <br>
    <% business.location.display_address.each do |a| %>
      <%= a[0..-1] %>
      <br>
    <% end %>
    <br>
  <% end %>

</div>
