<div class="col-md-12 results_found">

  <br>
  <% if @current_user.present? %>
    <h1>Welcome back <%=@current_user.username.capitalize %>!</h1>
    <h3> Here are the <%= "#{@category.pluralize}"%> in your search area of <%="#{@city}"%></h3>
  <% else %>
    <h1>There are <%= @response.total%> <%= "#{@category.pluralize}"%> in your search area of <%="#{@city}"%></h1>
  <% end %>

  <p> Create an account to save your all of your favorite paws friendly places </p>
  <br>


  <div class="row">
  <% @response.businesses.each do |business| %>

  <!-- take(12) -->
  <div class="col-md-4">

  <div class="media">

    <div class="media-body">
      <h2 class="media-heading"> <%= link_to "#{business.name}", business.url, :target => "_blank" %> </h2>

    </div> <!-- div media body -->

    <div class="media-right">

        <% if %>
          <% business.has_key? 'image_url' %>
          <%= link_to(image_tag("#{business.image_url}"), business.url) %>
        <% else %>
          <p> There isn't an availabe picture for this business. </p>
        <% end %>

    </div>   <!-- div media-right -->

    <div>
      <br>
    <% if %>
      <% business.has_key? 'snippet_text' %>
      <p> <%= business.snippet_text %> </p>
    <% else %>
      <p>There isn't a recent review about this business.</p>
    <% end %>
    <p class="reviews"></p>
    <% if %>
      <% business.has_key? 'rating'%>
      <p class="reviews"> <%= image_tag "#{business.rating_img_url}" %> out of <%= business.review_count%> reviews </p>
    <% else %>
      <p> There isn't a rating for this business.</p>
    <% end %>

    </div>
      <p class="reviews"></p>
    <% if @current_user.nil? %>
    <%= link_to "Save this #{@category}", login_path, remote: true, class:"btn btn-default save-btn" %>
    <% else %>
    <%= link_to "Save this #{@category}", saved_location_path(business_id: business.id), method: :post, class:"btn btn-default save-btn" %>

    <% end %>


    </div> <!-- div media -->
    </div> <!--col-md-4-->
  <% end %>
  </div> <!--row-->
</div> <!--col-md-12-->
