<div class="col-md-6">

  <!-- <% @response.businesses.each do |response_id|%>
  <%= @business_id = response_id.id%>
  <%  @business = Yelp.client.business(@business_id)%>
   <%end%> -->


  <h2> There are <%= @response.total%> <%= "#{@category}"%> in your search area of <%="#{@city}"%></h2>
  <br>


  <% @response.businesses.take(10).each do |business| %>
<div class="media">
  <div class="media-left">

    <% if %>
      <% business.has_key? 'image_url' %>
      <%= image_tag business.image_url %>
    <% else %>
      <p> There isn't an availabe picture for this business. </p>
    <% end %>
  </div>

  <div class="media-body">
    <h3 class="media-heading"> <%= business.name %> </h3>
    <% if %>
      <% business.has_key? 'rating'%>
      <p><%= business.rating %> out of <%= business.review_count %> reviews</p>
    <% else %>
      <p> There isn't a rating for this business. </p>
    <% end %>

    <% if %>
      <% business.has_key? 'url' %>
      <%= link_to business.url, (business.url) %>
    <% else %>
      <p> There isn't a url for this business. </p>
    <% end %>

    <% if %>
      <% business.has_key? 'snippet_text' %>
      <p> <%= business.snippet_text %></p>
    <% else %>
      <p> There isn't a recent review about this business. </p>
    <% end %>

    <% if %>
      <% business.has_key? 'display_phone' %>
      <p> <%= business.display_phone %></p>
    <% else %>
    <p> There is no phone number available for this business </p>
    <%end%>

    <% if %>
      <% business.has_key? 'location' %>
        <% business.location.display_address.each do |a| %>
        <p><%= a[0..-1] %></p>
        <% end %>
    <% else %>
      <p> There is an address available for this busness </p>

    <% end %>
    <br>

    <%= link_to "Save this #{@category}", saved_location_path(business_id: business.id) %>

<!-- path_(business_id: business.id) -->

  </div>
  </div>
  <% end %>
</div>
