<div class="container">
  <div class="col-md-12" >
    <h3 class="text-center"> Find pet-friendly places in your area </h3>
      <% if @response.businesses.any? %>
       <div id="map">
       </div>
     <% end %>
  </div>
  <div class="doginfo">
    <% if @category.present? && @city.present? %>
      <%= render partial: 'doginfo' %>
    <% end %>
  </div>
</div>

<script>
$(window).ready(function(){
  <% if @response.businesses.first.nil? %>
   window.map.setView(request.location.city, 13);
 <% else %>
  window.map.setView([<%= [@response.businesses.first.location.coordinate.latitude, @response.businesses.first.location.coordinate.longitude].join(",") %>], 12);
 <% end %>
  <% @response.businesses.take(20).each do |business| %>
  <% puts business.inspect %>
    var marker = L.marker([<%= [business.location.coordinate.latitude, business.location.coordinate.longitude].join(",") %>]).addTo(window.map);
    marker.bindPopup("<h4> <%= business.name %> </h4> <h5> <% business.location.display_address.each do |a| %> <%= a[0..-1] %> <br> <% end %> </h5>");
  <% end %>
});
</script>
<div align="center">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Responsive -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9417749423889258"
       data-ad-slot="2741863324"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
