
<div class="container">

<div class="col-md-12">
   <div id="map">
   </div>
</div>

<div class="doginfo">
  <% if @category.present? && @city.present? %>
    <%= render partial: 'doginfo' %>
  <% end %>
</div>
</div>

 <script>
 $(window).ready(function(){

   window.map.setView([<%= [@response.businesses.first.location.coordinate.latitude, @response.businesses.first.location.coordinate.longitude].join(",") %>], 12);


   <% @response.businesses.take(20).each do |business| %>
   <% puts business.inspect %>
     var marker = L.marker([<%= [business.location.coordinate.latitude, business.location.coordinate.longitude].join(",") %>]).addTo(window.map);
     marker.bindPopup("<h4> <%= business.name %> </h4> <h5> <% business.location.display_address.each do |a| %> <%= a[0..-1] %> <br> <% end %> </h5> <h6><%= business.display_phone %> </h6>");

   <% end %>
 });
 </script>
