<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      <%= link_to "PawzOnTour", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <form class="form-inline">
          <%= select_tag :category, options_for_select(SearchItem.yelp_categories, params[:category]), class: "form-control", prompt: "Select a Category" %>

            <input type="text" name="city" id="city" class="form-control" placeholder="Please Enter Your City" value="<%= params[:city] %>">

            <button type="submit" class="btn btn-default">Submit</button>

        </form>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if @current_user.nil? %>
          <li> <%= link_to "Log in", login_path %> </li>
          <li> <%=link_to "Sign up", signup_path %> </li>

        <%else%>
          <li> <%= link_to "Settings", "#" %></li>
          <li> <%= link_to "Logout", logout_path %> </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
