<!DOCTYPE html>
<html>
<head>
  <title>Final</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Clicker+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>



</head>
<body>
  <%= render partial: 'layouts/navbar' %>


  <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
         <p> The city you entered isn't vaild. Please try again.  </p>
      </div>
  <% end %>
<!-- <div class="container"> -->
<%= yield %>
<%= render partial: 'layouts/modal' %>
<!-- </div> -->
</body>
</html>
